@model CasinoMVC.Models.IndexItemsModel
@using CasinoMVC.Core;
@{
    ViewData["Title"] = "Home Page";
}

<div class="container" style="margin-bottom: 30px;">
    <div class="row">
        <a class="btn btn-primary" role="button" asp-controller="Admin" asp-action="Index">DEV</a>
    </div>
</div>
<div id="items-recent">
    @foreach (var item in Model.RecentItems)
    {
        <div class="item items-recent-item">
            <div class="item-wrapper-gradient" style="--gradient:@item.Rarity.ToGradient()">
                <img class="card-img-top img-fluid" src="@item.ImageUrl">
            </div>
            <div class="item-footer">
                <div class="item-footer-line" style="--color:@item.Rarity.ToRgb()"></div>
            </div>
        </div>
    }
</div>
<div>
    <div class="container">
        <div>
            <h2 style="text-align:center">All chests</h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card-group">
                    @foreach (var chest in Model.Chests)
                    {
                        <a class="card chest-card text-center" asp-controller="OpenChest" asp-action="Index" asp-route-id=@chest.Id>
                            <img class="card-img-top d-block chest-card-image">
                            <div class="card-body">
                                <img src=@chest.ImageUrl style="width: 100%" />
                                <h4 class="card-title">@chest.Name</h4>
                                <div class="btn btn-light btn-sm chest-card-button" asp-controller="OpenChest" type="button">@chest.Price.ToString() $</div>
                            </div>
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
