#items-roulette-window,
#items-roulette-window-shadow,
#items-roulette-window-line {
    height: 187px;
}

#items-roulette-window {
    width: 1000px;
    border: 2px solid #2E2C2C;
    border-radius: 3px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 20px;
    overflow: hidden;
}

#items-roulette-window-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 1000px;
    box-shadow: inset 40px 0 50px -20px rgba(0, 0, 0, 0.7), inset -40px 0 50px -20px rgba(0, 0, 0, 0.7);
    overflow: hidden;
}

#items-roulette-window-line {
    position: absolute;
    top: 0;
    left: 500px;
    width: 3px;
    background-color: rgba(200,15,15);
    z-index: 10;
}

#items-roulette-spinnable {
    height: 172px;
    width: 20000px;
    overflow: hidden;
    margin-bottom:2px;
}

.items-roulette-item {
    display: inline-block;
    float: left;
    margin-right: 3px;
}

.item-image-block {
    width: 256px;
    height: auto;
}
.items-roulette-border-line {
    background: linear-gradient(90deg, transparent, rgba(200,15,15,1) 51%, transparent);
    height: 4px;
    width: auto;
}



.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.admin-button {
    margin-bottom: 5px
}


/*Loading*/

/* Absolute Center Spinner */
.loading {
    position: fixed;
    display: none;
    z-index: 1031;
    height: 2em;
    width: 2em;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

    /* Transparent Overlay */
    .loading:before {
        content: '';
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.3);
    }

    /* :not(:required) hides these rules from IE9 and below */
    .loading:not(:required) {
        font: 0/0 a;
        color: transparent;
        text-shadow: none;
        background-color: transparent;
        border: 0;
    }

        .loading:not(:required):after {
            content: '';
            display: block;
            font-size: 10px;
            width: 1em;
            height: 1em;
            margin-top: -0.5em;
            -webkit-animation: spinner 1500ms infinite linear;
            -moz-animation: spinner 1500ms infinite linear;
            -o-animation: spinner 1500ms infinite linear;
            animation: spinner 1500ms infinite linear;
            border-radius: 0.5em;
            -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
            box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
        }

/* Animation */
@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


.item-wrapper-gradient::after {
    background: rgb(2,0,36);
    background: var(--gradient);
    height: 35px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    display: inline-block;
}
.item-wrapper-gradient {
    position: relative;
    right: 0;
    left: 0;
    z-index: 1;
    display: flex;
    margin-bottom: 1px;
}
.item-footer {
    position: relative;
    width: 100%;
    right: 0;
    left: 0;
    z-index: 1;
    display: block;
}

.item-footer-line {
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: var(--color);
    z-index: 10;
}

.item-footer-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1rem;
    text-align: center;
}
body {
    background-color: rgba(17,22,34,255) !important;
    color: white !important;
}
.bg-primary {
    background-color: rgba(17,22,34,255) !important;
}

.chest-card {
    background-color: transparent !important;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px;
    transition: all .3s ease-in-out;
    color: white !important;
}
    .chest-card:hover {
        box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
        transform: translate3d(0px, -1px, 0px);
        color: crimson !important;
    }

        .chest-card:hover .chest-card-button {
            color: crimson !important;
        }

.chest-card-image{
    width: 100px;
    max-height: 100px;
    margin-bottom: 5px;
}

.chest-label {
    margin-bottom: 10px;
    margin-top: 20px;
}

.btn-generic:hover {
    color: crimson !important;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

th {
    color: white;
}

tr {
    color: white;
} 